DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/YOUR_WEBHOOK"     # discord webhook to alert to
SIGNER_PUBLIC_KEYS="0x......1,0x.......2,0x......3"                     # comma separated list of signer public keys to monitor
API_URL='https://api.hiro.so/'                                          # URL of the API endpoint to query
RPC_URL='http://stacks_node:20443/'                                  # URL of the RPC exposed by your stacks node
CHECK_INTERVAL=86400                                                    # how often to check, in seconds.   don't hammer the API
REPEAT_CHECKS="true"                                                    # will run checks every CHECK_INTERVAL seconds if true, will run once and exit if false

